/* From Uiverse.io by Awadhesh684827 */
[class*="btn-glitch-"] {
  display: inline-block;
  font-family: "VT323", monospace;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  padding: 10px 13px;
  min-width: 175px;
  line-height: 1.5em;
  margin-top: 2rem;
  white-space: no-wrap;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 15px;

  .text,
  .decoration {
    display: inline-block;
  }

  .decoration {
    display: inline-block;
    float: right;
  }

  &:hover,
  &:focus {
    animation-name: glitch;
    animation-duration: 0.2s;
    background-color: #39ff14;
    color: black;
    border: 1px solid #39ff14;

    .text-decoration {
      animation-name: blink;
      animation-duration: 0.1s;
      animation-iteration-count: infinite;
    }

    .decoration {
      animation-name: blink;
      animation-duration: 0.1s;
      animation-iteration-count: infinite;
    }
  }

  &:active {
    background: none;
    color: #39ff14;

    .text-decoration {
      animation-name: none;
    }

    .decoration {
      animation-name: none;
    }

    :before,
    :after {
      display: none;
    }
  }
}

[class*="btn-glitch2-"] {
  font-family: "VT323", monospace;
  /* border: 1px solid rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  /* padding: 10px 13px; */
  /* min-width: 175px; */
  line-height: 1.5em;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  white-space: no-wrap;
  text-transform: uppercase;
  cursor: pointer;
  /* border-radius: 15px; */

  .text,
  .decoration {
    display: inline-block;
  }

  .decoration {
    display: inline-block;
  }

  &:hover,
  &:focus {
    animation-name: glitch;
    animation-duration: 0.2s;
    background-color: #39ff14;
    color: black;
    /* border: 1px solid #39ff14; */

    .text-decoration {
      animation-name: blink;
      animation-duration: 0.1s;
      animation-iteration-count: infinite;
    }

    .decoration {
      animation-name: blink;
      animation-duration: 0.1s;
      animation-iteration-count: infinite;
    }
  }

  &:active {
    background: none;
    color: #39ff14;

    .text-decoration {
      animation-name: none;
    }

    .decoration {
      animation-name: none;
    }

    :before,
    :after {
      display: none;
    }
  }
}

@keyframes glitch {
  25% {
    background-color: red;
    transform: translateX(-10px);
    letter-spacing: 10px;
  }

  35% {
    background-color: green;
    transform: translate(10px);
  }

  59% {
    opacity: 0;
  }

  60% {
    background-color: blue;
    transform: translate(-10px);
    filter: blur(5px);
  }

  100% {
    background-color: yellow;
    blur: (5px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes shrink {
  100% {
    width: 10%;
  }
}

/* From Uiverse.io by gharsh11032000 BUTTON */
/* .button {
  position: relative;
  border: none;
  background-color: white;
  color: #212121;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}

.button span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #39ff14;
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  transform: translate(-100%, 100%);
  border-radius: inherit;
}

.button svg {
  fill: #39ff14;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  animation: shakeBack 0.6s forwards;
}

.button:hover svg {
  fill: white;
  scale: 1.3;
}

.button:active {
  box-shadow: none;
}

@keyframes shakeBack {
  0% {
    transform: translate(-100%, 100%);
  }

  50% {
    transform: translate(20%, -20%);
  }

  100% {
    transform: translate(0%, 0%);
  }
} */
