@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-item {
  width: 300px !important;
  /* flex: 0 0 auto; Prevents items from stretching */
}
.carousel-item {
  overflow: hidden;
}

.slick-slide > div {
  padding: 0 10px;
}

.slick-slider {
  opacity: 1 !important;
  visibility: visible !important;
}
